{
    margin: 0;
    padding: 0;
    box-sizing: baorder-box;
}
body{
    background-image: url("Coffee.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

span{
    color:blueviolet;
}
